#ap_answers {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

#ap_questiontitle {
    text-align: center;
    display: inline-block;
    width: 50%;
}

#ap_answercount {
    text-align: left;
    display: inline-block;
}

#ap_views {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    width: 15%;
}

#ap_questiontext {
    text-align: left;
    display: inline-block;
    width: 70%;
}

#ap_askedby {
    text-align: left;
    display: inline-block;
    width: 10%;
}

#newanswer {
    display:none;
}
.aRow {
    border-bottom: 1px dotted black;
}

.aTD {
    padding: 15px;
}
